body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding: 20px;
    justify-content: space-around;
    text-align: center;
    background: #1a1b21;
    color: #ebeaea;
    /* border-bottom: 7px solid #d8cefe; */
    border-radius: 10px;
    box-shadow: 6px 7px #d8cefe;
    
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted blue;
}

.logos {
    display: flex;
    justify-content: space-around;
    border-radius: 50%;
}
/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
